<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vankhanhpr.vidu2">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login_baby.Wellcom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_baby.Login_Commercial"></activity>
        <activity android:name=".login_baby.Login"/>
        <activity android:name=".login_baby.CheckPassLogin"/>
        <activity android:name=".login_baby.Import_Code"/>
        <activity android:name=".login_baby.CheckPassSignIn"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".login_doctor.Login_Doctor"/>
        <activity android:name=".login_doctor.main_doctor"/>
        <activity android:name=".change_password.ChangePass"/>
        <activity android:name="com.example.vankhanhpr.vidu2.fragment_main.fragment_mom_baby.Create_File_Mon"/>
        <activity android:name=".fragment_main.Information_Account.Account_Inf"/>

        <receiver android:name=".json.network.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>